@model MVCAssignment.Models.Fever

@{
    ViewData["Title"] = "FeverCheck";
}

<h1>Take a Free Fever Test For You</h1>
<h1 style="background-color:red">@Model.Message</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FeverCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group top-bottom-margin">
                <label><input type="radio" name="TemperatureUnit" value="Celsius" checked> Celsius</label>
                <label><input type="radio" name="TemperatureUnit" value="Fahrenheit"> Fahrenheit</label>

            </div>
            <div class="form-group top-bottom-margin">
                <label asp-for="BTemp" class="control-label"></label>
                <input asp-for="BTemp" class="form-control" />
                <span asp-validation-for="BTemp" class="text-danger"></span>
            </div>
           
            <div class="form-group top-bottom-margin">
                <input type="submit" value="Take a fever test" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="top-bottom-margin">
    <a asp-action="Index">Back to Assignment</a>
</div>

