
@{
    ViewData["Title"] = "Greet";
}
<div><h1>Greet Using ViewBag</h1></div>

<h3 style="background-color:darkcyan">@ViewBag.vbMsg</h3>
<h3 style="background-color:crimson">@ViewData["vdMsg"]</h3>
<h3 style="background-color:darkgoldenrod">@TempData["tdMsg"]</h3>
